
<div class="items-sidebar pt-3 pb-3">
    <div class="buttons-group">
        <button class="btn btn-secondary rounded-0">Search for places</button>
        <button class="btn-circle"><i class='bx bx-current-location'></i></button>
    </div>
    
    <div class="">
        <img src="../../../assets/HeavyRain.png">
    </div>
    <div class="cloud-bg">
    </div>

    <div class="degrees">15<span>°C</span></div>
    <div class="kind-weather">Shower</div>
    <div class="date">
        Today &nbsp; &middot; &nbsp; Fri, 5 Jun
        <br><br>
        <span class="city">Helsinki</span>
    </div>
</div>